mysql:
  host: localhost
  port: 3306
  username: root
  password: 
  dbname: singo
redis:
  host: localhost
  port: 6379
  password: 
  dbname: singo
gin:
  port: 80
  mode: debug
log:
  level: debug
